

.Register_modal-wrapper{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}


.Register_modal-overlay{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100vw;
    height: 100vh;
    background: rgb(16 16 16 / 20%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

}

.Register_modal{
    background-color: #242526;
    z-index: 99;
    height: auto;
    max-width: 400px;
    width: 100%;
    position: fixed;
    border-radius: 10px;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 24px;
}

.Register_modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Register_modal-close_btn{
    color: white;
}

.Register_modal-title{
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
}

.Register_modal-body{
    padding: 20px;
}

.Register_modal-icon-box{
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}

.Register_modal-Register_btn {
    
}