.avatar-wrapper{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* position: absolute; */
    /* right: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.avatar{
    border-radius: 50%;
    width: 40px;
}