/* phone */
@media screen and (max-width: 1024px) {
    .home{
       
    }
    .home-users{
        display: none;
    }
}

/* PC */
@media screen and (min-width: 1025px) {

    .home-users{
        margin-left: 32px;
        height: auto;
        align-self: flex-start;
        padding: 10px;
        /* background: radial-gradient(black, transparent); */
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: rgb(17 17 26 / 5%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;

    }
    .home-users-title{
        color: rgb(142, 142, 142);
    }

    .home-users-list{
        padding: 8px 0;
    }

    
}

@keyframes appearFromDown {
    from {
      transform:translateY(500px);
      opacity: 0 
    }
    to {
      transform:translateY(0);
      opacity: 1 
    }
  }
  


.home-users{
    animation: appearFromDown .5s ease;
}

.home{
    display: flex;
    justify-content: center;
    margin-top: calc(var(--header-bar-height) + 27px);
}

.home-posts{
    animation: appear .6s ease;
  }