.header_bar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 10px 40px;
    height: var(--header-bar-height);
    position: fixed;
    z-index: 99;
    width: 1000px;
    justify-self: center;
}
/* 
.header_bar.logged{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding: 10px 16px;
    height: 55px;

    
} */

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-logo-link{
    letter-spacing: 3px;
    text-decoration: none;
    color: #3fbaf7!important;
    font-weight: bold;
    font-size: 30px;
}

.header_bar-avatar-wrapper{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    
}

.header_bar-avatar{
    border-radius: 50%;
    width: 40px;
}

.user-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.popper::before{
    z-index: -1;
    content: "";
    /* width: 7px; */
    /* height: 0px; */
    position: absolute;
    right: 1px;
    top: -34px;
    border-width: 20px 21px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    cursor: pointer;

}

.popper{
    background-color: white;
    border-radius: 6px;
    width: 196.9px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 0;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.popper-item {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    transition: background-color ease-in-out 200ms;
    border-top: 1px solid rgb(240, 240, 240);
    border: none;
    width: 100%;
    background-color: white;

    
}

.popper-item:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.popper-item:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.popper-item:hover {
    background-color: rgb(217 213 213 / 60%);
}

.popper-item-icon-wrapper {
    background: #b6b6b6;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.popper-item-icon{
    font-size: 20px;
    color: white;
}

.popper-item-content{
    letter-spacing: normal;
    font-size: 15px;
    font-weight: 100;
    margin-left: 10px;
    color: black;
}
